.card{
  display: flex;
  gap: 30px;
}

.card-name{
  width: 100px;
}

.card-description{
  width: 200px;
}

.card_button{
  width: 100px;
}

@media (max-width: 640px) {
  .card{
    flex-direction: column;
  }
  
}