.modal_overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal_container {
  background-color: white;
  min-width: 300px;
  min-height: 100px;
  padding: 30px;
  position: relative;
  max-height: 660px;
  overflow-y: auto;

  ul {
    color: black;
    li {
      display: flex;
      gap: 5px;
      cursor: pointer;
      input {
        width: auto;
      }
    }
  }
}
.modal_close-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-height: 600px) {
  .modal_container {
    max-height: 500px;
  }
}