.password-strength_container {
  display: flex;
  align-items: center;
  height: 20px;
}
.password-strength_cell-container {
  margin-top: 5px;
  display: flex;
  gap: 2px;
  height: 10px;
  width: 60px;
}

.password-strength_cell {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
