.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: auto;
  margin: 30px;
  gap: 10px;
}

.error-page_error-text-container {
  display: flex;
  align-items: center;
  gap: 5px;

  p {
    font-size: 200px;
    margin: 0;
  }
}

.error-page_image-container {
  width: 200px;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}

.error-page_title {
  font-size: 30px;
  margin: 10px;
}

.error-page_subtitle {
  font-size: 18px;
  margin: 5px;
}

.error-page_link-container {
  background-color: #f03776;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: white;
  }
  &:hover {
    background-color: #f03775c3;
  }
}
