body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: large;

  &.dark {
    background-color: black;
    color: white;
  }
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
  padding: 5px;
}
